<div class="accomodation-container"></div>
    <div class="acco-header">
    <div   fxLayout="row" fxLayout="column" fxLayoutAlign="center center" >
        <h1 >Accomodation</h1>
        <p>Our rooms are designed for simplicity and comfort. We can accommodate from one to four persons, depending on the room. One can book single, standard double, sea-view double, and triple rooms. There is also the larger studio with kitchenette. And the economy rooms for the budget traveler.
        </p>
        <h3 class="underline">All rooms at Hotel Paros are equipped with the following:</h3>
        <ul>
            <li>Air conditioning</li>
            <li> Free Wi - Fi access</li>
            <li>Private bath with shower</li>
            <li> Hair dryer</li>
            <li> Mini-bar</li>
            <li>Flat screen tv</li>
            <li> Heating</li>
        </ul>
        <p>All standard rooms have private balconies.</p>
        <p>The beach-side / sea view rooms have balconies with a direct sea- view. ( the early bird gets the worm!)</p>
        <p>The budget / economy rooms do not have a balcony.</p>
        <p>There is a daily cleaning service.</p>
        <p>For any other special requests, please let us know before your arrival, in order for us to make arrangements for a comfortable and hospitable stay at Hotel Paros.</p>
        <p>We will do our best to match and exceed your standards.</p>
        <h2>Accomodation Photos</h2>
    </div>
        <div class="image-container">
          <img  src="../../assets/images/paros1.jpg" >
          <img  src="../../assets/images/paros2.jpg" >
          <img  src="../../assets/images/paros3.jpg">
          <!-- <img src="../../assets/images/paros4.jpg">
          <img src="../../assets/images/paros5.jpg" >
          <img src="../../assets/images/paros6.jpg" > -->
        </div>  
        <div class="image-container">
            <img src="../../assets/images/paros4.jpg">
            <img src="../../assets/images/paros5.jpg" >
            <img src="../../assets/images/paros6.jpg" >
          </div>  
      

    
</div>

