.back{
    background-image:url('../../../assets/images/Sign in.jpg');
    background-size: cover;
    height:calc(130vh);
}

.form{
    position:relative;
    width:650px;
    margin:0px 610px;
    padding:40px 40px 60px;
    border-radius: 10px;
    background: #051622;
    text-align: center;
    box-shadow:-5px -5px 15px rgba(255,255,255,0.8),5px 5px 10px rgba( 0,0,0,1);
}
.form h2{
    color:#32a3b1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.form.input{
    margin-top:40px;
    text-align: left;
}
.form.input.inputBox{
    margin-top: 20px;
}
.form .input .inputBox label{
    display: block;
    color:#868686;
    margin-bottom: 5px;
    font-size: 18px;
}
.form .input .inputBox input{
    width: 100%;
    height: 50px;
    color: #3f9e43;
    background: #ebf5fc;
    border: none;
    outline:none;
    padding: 5px 15px;
    font-size:18px;
    border-bottom: 3px solid #4CAF50;
}
.for .input .inputBox input[type="submit"]{
    margin-top: 20px;
    box-shadow: -2px -2px 6px rgba(255,255,255,1),2px 2px 6px rgba(0,0,0,0,0.1);
    border-bottom: none;
}
.form .input .inputBox input[type="submit"]{
    color:#006c9c;
    margin-top: 20px;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,1),inset 2px 2px 6px rgba( 0,0,0,1);
}
.form .input .inputBox input::placeholder{
    color:#bdcada;
    font-size: 18px;
}

.button{
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  text-align: center; 
  font-size: 20px; 
}

.button:hover {
  background-color: #0056b3; 
  color: #fff; 
}

.error{
    text-align: center;
    color:red;
}