.button-container {
    text-align: center;
    background-image: url('../../assets/images/lunch1.jpg') ;
    background-size: cover;
    height:calc(130vh);
}
.nice-button {
    padding: 15px 30px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #FFC107; /* Adjust color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
    display: inline-block;
}

.nice-button:hover {
    background-color: #FFA000; /* Adjust color on hover */
    color: #FFF;
}